extends ../layout

block content
    h2=title
    
    form(action="/books/" + book.id, method="post")

      div
        p
          label(for="title") Title  
          input(type="text", name="title" id="title" value=book.title)  
        
      div
        p
          label(for="author") Author
          input(type="text", name="author" id="author" value=book.author)
      div
        p
          label(for="genre") Genre
          input(type="text", name="genre" id="genre" value=book.genre)
      div
        p
          label(for="year") Year
          input(type="number", name="year" id="year" value=book.year)
      div  
        
           input(type="submit" value="Update") 
    div
      p 
        a(href="../books") Cancel
        |
        p
        |
        a(href="/books/" + book.id + "/delete") Delete Book